# Code Cleaner Buffet 🍜

[![Build](https://img.shields.io/travis/evolutics/code-cleaner-buffet.svg)](https://travis-ci.org/evolutics/code-cleaner-buffet)

## Index

{{#dishes}}
{{#option}}{{> dish_link.md.mustache}}{{> gap.md.mustache}}{{/option}}
{{/dishes}}

### By category

{{#tag_groups.info_evolutics_buffet_categories}}
{{> tag_group.md.mustache}}
{{/tag_groups.info_evolutics_buffet_categories}}

### By language

{{#tag_groups.info_evolutics_buffet_languages}}
{{> tag_group.md.mustache}}
{{/tag_groups.info_evolutics_buffet_languages}}

## Dishes
{{#dishes}}

### `{{option}}`

[**{{title}}**]({{url}})

<details>

[↻ Available versions]({{#tags.info_evolutics_buffet_versions-url}}{{.}}{{/tags.info_evolutics_buffet_versions-url}})

[🏷 Categories:](#by-category)
{{#tags.info_evolutics_buffet_categories}}
{{> gap.md.mustache}}{{.}}
{{/tags.info_evolutics_buffet_categories}}
{{^tags.info_evolutics_buffet_categories}}
{{> gap.md.mustache}}–
{{/tags.info_evolutics_buffet_categories}}

[📜 Languages:](#by-language)
{{#tags.info_evolutics_buffet_languages}}
{{> gap.md.mustache}}{{.}}
{{/tags.info_evolutics_buffet_languages}}
{{^tags.info_evolutics_buffet_languages}}
{{> gap.md.mustache}}–
{{/tags.info_evolutics_buffet_languages}}

🚀 Quick start:

```bash
docker build \
  --build-arg {{option}}={{#tags.info_evolutics_buffet_version-example}}{{.}}{{/tags.info_evolutics_buffet_version-example}} \
  --tag my_plate \
  https://github.com/evolutics/code-cleaner-buffet.git#0.3.0
docker run -it --rm my_plate
{{{health_check}}}
```

[… Dockerfile]({{dockerfile_path}})

</details>
{{/dishes}}
